.stickers-box {
    position: fixed;
    top: 0;
    left: 50%;
}
.stickers-container {
    position: relative;
    left: -50%;
}
#stickers-content {
    background-color: #ffffff;
    border: 2px solid #8b0000;
}
#stickers-box-button {
    margin-left: -80px;
}