<?xml version="1.0"?>
		
<config>
	<modules>
		<Itoris_Stickers>
			<version>1.0.8</version>
		</Itoris_Stickers>
	</modules>

	<admin>
		<routers>
			<itoris_stickers>
				<use>admin</use>
				<args>
					<module>Itoris_Stickers</module>
					<frontName>itoris_stickers</frontName>
				</args>
			</itoris_stickers>
		</routers>
	</admin>

	<adminhtml>
		<layout>
			<updates>
				<itoris_stickers>
					<file>itoris_stickers.xml</file>
				</itoris_stickers>
			</updates>
		</layout>
		<translate>
			<modules>
				<Itoris_Stickers>
					<files>
						<default>Itoris_Stickers.csv</default>
					</files>
				</Itoris_Stickers>
			</modules>
		</translate>
	</adminhtml>

	<frontend>
		<routers>
			<isticker>
				<use>standard</use>
				<args>
					<module>Itoris_Stickers</module>
					<frontName>isticker</frontName>
				</args>
			</isticker>
		</routers>
		<layout>
			<updates>
				<itoris_stickers>
					<file>itoris_stickers.xml</file>
				</itoris_stickers>
			</updates>
		</layout>
		<translate>
			<modules>
				<Itoris_Stickers>
					<files>
						<default>Itoris_Stickers.csv</default>
					</files>
				</Itoris_Stickers>
			</modules>
		</translate>
	</frontend>

	<global>
		<blocks>
			<itoris_stickers>
				<class>Itoris_Stickers_Block</class>
			</itoris_stickers>
		</blocks>
		<models>
			<itoris_stickers>
				<class>Itoris_Stickers_Model</class>
				<resourceModel>itoris_stickers_mysql4</resourceModel>
			</itoris_stickers>
			<itoris_stickers_mysql4>
				<class>Itoris_Stickers_Model_Mysql4</class>
				<entities>
					<sticker>
						<table>itoris_sticker</table>
					</sticker>
				</entities>
			</itoris_stickers_mysql4>
		</models>
		<helpers>
			<itoris_stickers>
				<class>Itoris_Stickers_Helper</class>
			</itoris_stickers>
		</helpers>
		<resources>
            <itoris_stickers_setup>
                <setup>
                    <module>Itoris_Stickers</module>
                </setup>
				<connection>
                    <use>core_setup</use>
                </connection>
            </itoris_stickers_setup>

			<itoris_stickers_write>
		        <connection>
		          <use>core_write</use>
		        </connection>
	        </itoris_stickers_write>

	       <itoris_stickers_read>
		        <connection>
		          <use>core_read</use>
		        </connection>
	       </itoris_stickers_read>
        </resources>
	</global>

</config>