<?xml version="1.0"?>
<config>

		<modules>
				<MageDevelopers_FacebookLogin>
						<version>0.1.0</version>
				</MageDevelopers_FacebookLogin>
		</modules>

		<frontend>
				<routers>
						<facebooklogin>
								<use>standard</use>
								<args>
										<module>MageDevelopers_FacebookLogin</module>
										<frontName>facebooklogin</frontName>
								</args>
						</facebooklogin>
				</routers>
				<layout>
						<updates>
								<facebook_page_override>
										<file>facebook_page_override.xml</file>
								</facebook_page_override>
								<facebooklogin>
										<file>facebooklogin.xml</file>
								</facebooklogin>
						</updates>
				</layout>
				<translate>
						<modules>
								<MageDevelopers_FacebookLogin>
										<files>
												<default>MageDevelopers_FacebookLogin.csv</default>
										</files>
								</MageDevelopers_FacebookLogin>
						</modules>
				</translate>
		</frontend>

		<admin>
				<routers>
						<facebooklogin>
								<use>admin</use>
								<args>
										<module>MageDevelopers_FacebookLogin</module>
										<frontName>facebooklogin</frontName>
								</args>
						</facebooklogin>
				</routers>
		</admin>

		<adminhtml>
				<acl>
						<resources>
								<all>
										<title>Allow Everything</title>
								</all>
								<admin>
										<children>
												<system>
														<children>
																<config>
																		<children>
																				<md_facebook>
																						<title>Facebook</title>
																				</md_facebook>
																		</children>
																</config>
														</children>
												</system>
										</children>
								</admin>
						</resources>
				</acl>
		</adminhtml>

		<default>
				<md_facebook>
						<login>
								<login_top_position>100</login_top_position>
								<show_faces>0</show_faces>
								<width>200</width>
								<max_rows>1</max_rows>
						</login>
				</md_facebook>
		</default>

		<global>
<!--        <models>
            <facebooklogin>
                <class>MageDevelopers_FacebookLogin_Model</class>
                <resourceModel>facebooklogin_mysql4</resourceModel>
            </facebooklogin>
        </models>-->
			<resources>
					<facebooklogin_setup>
							<setup>
									<module>MageDevelopers_FacebookLogin</module>
									<class>Mage_Customer_Model_Entity_Setup</class>
							</setup>
							<connection>
									<use>core_setup</use>
							</connection>
					</facebooklogin_setup>
					<facebooklogin_write>
							<connection>
									<use>core_write</use>
							</connection>
					</facebooklogin_write>
					<facebooklogin_read>
							<connection>
									<use>core_read</use>
							</connection>
					</facebooklogin_read>
			</resources>
				<blocks>
						<facebooklogin>
								<class>MageDevelopers_FacebookLogin_Block</class>
						</facebooklogin>
				</blocks>
				<helpers>
						<facebooklogin>
								<class>MageDevelopers_FacebookLogin_Helper</class>
						</facebooklogin>
				</helpers>
		</global>

</config>