<?xml version="1.0"?>
<config>
    <modules>
        <Cofamedia_HomeCategories>
            <version>0.1.0</version>
        </Cofamedia_HomeCategories>
    </modules>
    <frontend>
        <routers>
            <homecategories>
                <use>standard</use>
                <args>
                    <module>Cofamedia_HomeCategories</module>
                    <frontName>homecategories</frontName>
                </args>
            </homecategories>
        </routers>
        <layout>
            <updates>
                <homecategories>
                    <file>homecategories.xml</file>
                </homecategories>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<homecategories>
				<use>admin</use>
				<args>
					<module>Cofamedia_HomeCategories</module>
					<frontName>homecategories</frontName>
				</args>
			</homecategories>

        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Cofamedia_HomeCategories>
							<title>Cofamedia Home Categories Module</title>
							<sort_order>10</sort_order>
						</Cofamedia_HomeCategories>
						<system>
							<children>
								<config>
									<children>
										<homecategories>
											<title>Configuration</title>
										</homecategories>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>

    </adminhtml>   
    <global>
        <models>
            <homecategories>
                <class>Cofamedia_HomeCategories_Model</class>
                <resourceModel>homecategories_mysql4</resourceModel>
            </homecategories>
        </models>
        <resources>
            <homecategories_setup>
                <setup>
                    <module>Cofamedia_HomeCategories</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </homecategories_setup>
            <homecategories_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </homecategories_write>
            <homecategories_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </homecategories_read>
        </resources>
        <blocks>
            <homecategories>
                <class>Cofamedia_HomeCategories_Block</class>
            </homecategories>
        </blocks>
<!--        <helpers>
            <homecategories>
                <class>Cofamedia_HomeCategories_Helper</class>
            </homecategories>
        </helpers>-->
    </global>
</config>