<?xml version="1.0"?>
<config>
    <modules>
        <Cofamedia_Stickers>
            <version>1.10</version>
        </Cofamedia_Stickers>
    </modules>
    <frontend>
        <routers>
            <stickers>
                <use>standard</use>
                <args>
                    <module>Cofamedia_Stickers</module>
                    <frontName>stickers</frontName>
                </args>
            </stickers>
        </routers>
        <layout>
            <updates>
                <stickers>
                    <file>stickers.xml</file>
                </stickers>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<stickers>
				<use>admin</use>
				<args>
					<module>Cofamedia_Stickers</module>
					<frontName>stickers</frontName>
				</args>
			</stickers>
			<adminhtml>
				<args>
					<modules>
					 	<Cofamedia_Stickers_Override before="Mage_Adminhtml">Cofamedia_Stickers_Override_Admin</Cofamedia_Stickers_Override>
					</modules>
				</args>
			</adminhtml>

			
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<cofamedia>
        <title>Cofa Media</title>
        <sort_order>70</sort_order>
				<children>
					<stickers module="stickers">
						<title>Stickers</title>
						<sort_order>60</sort_order>
						<action>stickers/adminhtml_stickers/stickers</action>
					</stickers>
				</children>
			</cofamedia>
		</menu>
        <layout>
            <updates>
                <stickers>
                    <file>stickers.xml</file>
                </stickers>
            </updates>
        </layout>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Cofamedia_Stickers>
							<title>Cofamedia Stickers Module</title>
							<sort_order>10</sort_order>
						</Cofamedia_Stickers>
						<system>
							<children>
								<config>
									<children>
										<stickers>
											<title>Configuration</title>
										</stickers>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>

    </adminhtml>   
    <global>
        <models>
            <stickers>
                <class>Cofamedia_Stickers_Model</class>
                <resourceModel>stickers_mysql4</resourceModel>
            </stickers>
            <stickers_mysql4>
                <class>Cofamedia_Stickers_Model_Mysql4</class>
                <entities>
                    <stickers>
                        <table>stickers</table>
                    </stickers>
                </entities>
            </stickers_mysql4>
        </models>
        <resources>
            <stickers_setup>
                <setup>
                    <module>Cofamedia_Stickers</module>
										<class>Cofamedia_Stickers_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </stickers_setup>
            <stickers_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </stickers_write>
            <stickers_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </stickers_read>
        </resources>
        <blocks>
            <stickers>
                <class>Cofamedia_Stickers_Block</class>
            </stickers>
        </blocks>
        <helpers>
            <stickers>
                <class>Cofamedia_Stickers_Helper</class>
            </stickers>
        </helpers>
    </global>
</config>
