<?xml version="1.0"?>
<config>
    <modules>
        <WebMods_Solrsearch>
            <version>0.1.0</version>
        </WebMods_Solrsearch>
    </modules>
    <frontend>
        <routers>
            <solrsearch>
                <use>standard</use>
                <args>
                    <module>WebMods_Solrsearch</module>
                    <frontName>search</frontName>
                </args>
            </solrsearch>
        </routers>
        <layout>
            <updates>
                <solrsearch>
                    <file>solrsearch.xml</file>
                </solrsearch>
            </updates>
        </layout>
    </frontend>
    <global>
		<models>
            <solrsearch>
                <class>WebMods_Solrsearch_Model</class>
                <resourceModel>solrsearch_resource</resourceModel>
            </solrsearch>
            <solrsearch_resource>
            	<class>WebMods_Solrsearch_Model_Resource</class>
            	<deprecatedNode>solrsearch_mysql4</deprecatedNode>
            	<entities>
                	<logs>
                    	<table>webmods_solrsearch_logs</table>
                	</logs>
            	</entities>
        	</solrsearch_resource>
        </models>
		<events>
      		<adminhtml_catalog_product_attribute_edit_prepare_form>
        		<observers>
          			<solr_search_observer>
            			<type>singleton</type>
            			<class>WebMods_Solrsearch_Model_Observer</class>
            			<method>addSearchWeightFieldToAttributeForm</method>
          			</solr_search_observer>
        		</observers>
      		</adminhtml_catalog_product_attribute_edit_prepare_form>     
    	</events>
    	<resources>
			<solrsearch_setup>
				<setup>
					<module>WebMods_Solrsearch</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</solrsearch_setup>
			<solrsearch_write>
				<connection>
					<use>core_write</use>
				</connection>
			</solrsearch_write>
			<solrsearch_read>
				<connection>
					<use>core_read</use>
				</connection>
			</solrsearch_read>
		</resources>
		<blocks>
            <solrsearch>
                <class>WebMods_Solrsearch_Block</class>
            </solrsearch>
        </blocks>
        <helpers>
            <solrsearch>
                <class>WebMods_Solrsearch_Helper</class>
            </solrsearch>
        </helpers>
    </global>
	<admin>
			<routers>
			  <solrsearch>
				<use>admin</use>
				<args>
				  <module>WebMods_Solrsearch</module>
				</args>
			  </solrsearch>
			</routers>
		  </admin>
	<adminhtml>
		<menu>
		  <solrsearch module="solrsearch">
			<title>Solr Bridge</title>
			<sort_order>71</sort_order>
			<children>
				<indexes translate="title" module="solrsearch">
                    <title>Solr Bridge Indexes</title>
					<sort_order>0</sort_order>
					<action>solrsearch/adminhtml_solrsearch</action>
                </indexes>
			</children>
		  </solrsearch>
		</menu>
		<acl>
		  <resources>
			<all>
			  <title>Allow Everything</title>
			</all>
			<admin>
			  <children>
				<WebMods_Solrsearch>
				  <title>Solr Bridge</title>
				  <sort_order>10</sort_order>
				</WebMods_Solrsearch>
			  </children>
			</admin>
		  </resources>
		</acl>
		<layout>
		  <updates>
			<solrsearch>
			  <file>solrsearch.xml</file>
			</solrsearch>
		  </updates>
		</layout>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                            <webmods_solrsearch translate="title" module="solrsearch">
												<title>Settings</title>
												<sort_order>100</sort_order>
											</webmods_solrsearch>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                            <webmods_solrsearch_indexes translate="title" module="solrsearch">
												<title>Indexes management</title>
												<sort_order>100</sort_order>
											</webmods_solrsearch_indexes>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                            <webmods_solrsearch_fields translate="title" module="solrsearch">
												<title>Fields settings</title>
												<sort_order>100</sort_order>
											</webmods_solrsearch_fields>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                            <webmods_solrsearch_boost translate="title" module="solrsearch">
												<title>Boost settings</title>
												<sort_order>100</sort_order>
											</webmods_solrsearch_boost>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
         <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                            <webmods_solrsearch_boost_value translate="title" module="solrsearch">
												<title>Boost settings</title>
												<sort_order>100</sort_order>
											</webmods_solrsearch_boost_value>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                            <solrsearch translate="title" module="solrsearch">
												<title>Solr Bridge Section</title>
												<sort_order>100</sort_order>
											</solrsearch>
                                    </children>
                                </config>
                            </children>
                        </system>
						<solrsearch translate="title" module="catalog">
							<title>Solr Bridge Section</title>
							<sort_order>30</sort_order>
							<children>								
								<indexes translate="title">
									<title>Solr Bridge Indexes</title>
								</indexes>
							</children>
						</solrsearch>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
      		<catalog_product_delete_before>
      			<observers>
          			<solr_search_observer>
            			<type>singleton</type>
            			<class>WebMods_Solrsearch_Model_Observer</class>
            			<method>productDeleteBefore</method>
          			</solr_search_observer>
        		</observers>
      		</catalog_product_delete_before>
      		<catalog_product_delete_after>
      			<observers>
          			<solr_search_observer>
            			<type>singleton</type>
            			<class>WebMods_Solrsearch_Model_Observer</class>
            			<method>productDeleteAfter</method>
          			</solr_search_observer>
        		</observers>
      		</catalog_product_delete_after>
      		<catalog_product_save_after>
      			<observers>
          			<solr_search_observer>
            			<type>singleton</type>
            			<class>WebMods_Solrsearch_Model_Observer</class>
            			<method>productAddUpdate</method>
          			</solr_search_observer>
        		</observers>
      		</catalog_product_save_after>
    	</events>
    </adminhtml>
</config>