<?xml version="1.0"?>
<config>
    <modules>
        <MageDevelopers_QtyPromotions>
            <version>1.10</version>
        </MageDevelopers_QtyPromotions>
    </modules>
    <frontend>
        <routers>
            <qtypromotions>
                <use>standard</use>
                <args>
                    <module>MageDevelopers_QtyPromotions</module>
                    <frontName>qtypromotions</frontName>
                </args>
            </qtypromotions>
        </routers>
    </frontend>
    <admin>
        <routers>
			<qtypromotions>
				<use>admin</use>
				<args>
					<module>MageDevelopers_QtyPromotions</module>
					<frontName>qtypromotions</frontName>
				</args>
			</qtypromotions>

			
        </routers>
    </admin>
    <global>
        <models>
            <qtypromotions>
                <class>MageDevelopers_QtyPromotions_Model</class>
            </qtypromotions>
            <cataloginventory_mysql4>
                <rewrite>
                   <indexer_stock>MageDevelopers_QtyPromotions_Model_Stock</indexer_stock>
                </rewrite>
            </cataloginventory_mysql4>
        </models>
        <helpers>
            <qtypromotions>
                <class>MageDevelopers_QtyPromotions_Helper</class>
            </qtypromotions>
        </helpers>
        <resources>
            <qtypromotions_setup>
                <setup>
                    <module>MageDevelopers_QtyPromotions</module>
										<class>MageDevelopers_QtyPromotions_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </qtypromotions_setup>
            <qtypromotions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </qtypromotions_write>
            <qtypromotions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </qtypromotions_read>
        </resources>
    </global>
</config>
