<?xml version="1.0"?>
<config>
    <modules>
        <Cofamedia_AdminLog>
            <version>0.1.0</version>
        </Cofamedia_AdminLog>
    </modules>
    <frontend>
        <routers>
            <adminlog>
                <use>standard</use>
                <args>
                    <module>Cofamedia_AdminLog</module>
                    <frontName>adminlog</frontName>
                </args>
            </adminlog>
        </routers>
    </frontend>
    <admin>
			<routers>
				<adminlog>
					<use>admin</use>
					<args>
						<module>Cofamedia_AdminLog</module>
						<frontName>adminlog</frontName>
					</args>
				</adminlog>
			</routers>
		</admin>
		<adminhtml>
			<layout>
					<updates>
							<adminlog>
									<file>adminlog.xml</file>
							</adminlog>
					</updates>
			</layout>

			<events>
					<sales_order_save_after>
							<observers>
								<sales_order_place_after>
									<type>singleton</type>
									<class>adminlog/observer</class>
									<method>hookIntoSalesOrderPlaceAfter</method>
								</sales_order_place_after>
							</observers>
					</sales_order_save_after>
			</events>
		</adminhtml>   
    <global>
        <models>
            <adminlog>
                <class>Cofamedia_AdminLog_Model</class>
                <resourceModel>adminlog_mysql4</resourceModel>
            </adminlog>
            <adminlog_mysql4>
                <class>Cofamedia_AdminLog_Model_Mysql4</class>
                <entities>
                    <adminlog>
                        <table>adminlog</table>
                    </adminlog>
                </entities>
            </adminlog_mysql4>
        </models>
        <resources>
            <adminlog_setup>
                <setup>
                    <module>Cofamedia_AdminLog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </adminlog_setup>
            <adminlog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </adminlog_write>
            <adminlog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </adminlog_read>
        </resources>
        <blocks>
            <adminlog>
                <class>Cofamedia_AdminLog_Block</class>
            </adminlog>
        </blocks>
        <helpers>
            <adminlog>
                <class>Cofamedia_AdminLog_Helper</class>
            </adminlog>
        </helpers>
    </global>
</config>