<?xml version="1.0"?>
<config>
    <modules>
        <Speroteck_TodaysDeals>
            <version>0.1.0</version>
        </Speroteck_TodaysDeals>
    </modules>
    <global>
        <blocks>
            <speroteck_todaysdeals>
                <class>Speroteck_TodaysDeals_Block</class>
            </speroteck_todaysdeals>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <Speroteck_TodaysDeals module="Speroteck_TodaysDeals">
                    <file>speroteck/todaysdeals.xml</file>
                </Speroteck_TodaysDeals>
            </updates>
        </layout>
    </frontend>
</config>
