<?xml version="1.0"?>

<config>
    <modules>
        <Cofamedia_CartProducts>
            <version>0.1.0</version>
        </Cofamedia_CartProducts>
    </modules>
    
    <global>
        <models>
            <cartproducts>
                <class>Cofamedia_CartProducts_Model</class>		
            </cartproducts>
            <catalog>
                <rewrite>
                    <product_type_cartproduct>Cofamedia_Cartproducts_Model_Product_Type_Cp</product_type_cartproduct>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                   <session>Cofamedia_CartProducts_Model_Checkout_Session</session>
                </rewrite>
            </checkout>
        </models>    
        
        <resources>
            <cartproducts_setup>
                <setup>
                    <module>Cofamedia_CartProducts</module>
                    <class>Cofamedia_CartProducts_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cartproducts_setup>
        </resources>        
        
        <catalog>
            <product>
                <type>
                    <cartproduct translate="label" module="catalog">
                        <label>Cart Product</label>
                        <model>cartproducts/product_type_cp</model>
                        <is_qty>1</is_qty>
<!--                         <index_data_retreiver>cartproducts/catalogIndex_data_cp</index_data_retreiver> -->
                        <price_model>cartproducts/product_price</price_model>
                        <composite>0</composite>
                    </cartproduct>
                </type>
            </product>
        </catalog>

        <blocks>
            <cartproducts>
                <class>Cofamedia_CartProducts_Block</class>
            </cartproducts>
        </blocks>

        <helpers>
            <cartproducts>
                <class>Cofamedia_CartProducts_Helper</class>
            </cartproducts>
        </helpers>
        <sales>
            <quote>
                <totals>
                    <cartproducts>
                        <class>cartproducts/total</class>
                        <after>shipping</after>
                        <before>grand_total</before>
                        <renderer>cartproducts/total</renderer>
                    </cartproducts>
                </totals>
            </quote>
            <totals_sort>
                <cartproducts>0</cartproducts>
            </totals_sort>
        </sales>

   </global>

		<frontend>
        <routers>
            <cartproducts>
                <use>standard</use>
                <args>
                    <module>Cofamedia_CartProducts</module>
                    <frontName>cartproducts</frontName>
                </args>
            </cartproducts>
        </routers>
        <layout>
            <updates>
                <cartproducts>
                    <file>cartproducts.xml</file>
                </cartproducts>
            </updates>
        </layout>
        <events>
            <sales_quote_remove_item>
                <observers>
                    <cartproducts_quote_remove_item>
                        <class>cartproducts/observer</class>
                        <method>removeProductFromCart</method>
                    </cartproducts_quote_remove_item>
                </observers>
            </sales_quote_remove_item>
        </events>
		</frontend>
	
	<adminhtml>
				<args>
					<modules>
					 	<Cofamedia_CartProducts_Override before="Mage_Adminhtml">Cofamedia_CartProducts_Override_Admin</Cofamedia_CartProducts_Override>
					</modules>
				</args>
		<menu>
			<cofamedia>
        <title>Cofa Media</title>
        <sort_order>70</sort_order>
				<children>
					<cartproducts module="cartproducts">
						<title>Cart Products</title>
						<sort_order>90</sort_order>
						<action>cartproducts/adminhtml_cp/index</action>
					</cartproducts>
				</children>
			</cofamedia>
		</menu>
        <layout>
            <updates>
                <cartproducts>
                    <file>cartproducts.xml</file>
                </cartproducts>
            </updates>
        </layout>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <cartproduct/>
                    </available_product_types>
                </create>
            </order>
        </sales>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Cofamedia_CartProducts>
							<title>Cofamedia Cart Products Module</title>
							<sort_order>10</sort_order>
						</Cofamedia_CartProducts>
						<system>
							<children>
								<config>
									<children>
										<cartproducts>
											<title>Configuration</title>
										</cartproducts>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
<!--
		<events>
			<catalog_product_new_action>
			    <observers>
			        <cartproducts_observer_catalog_product_new_action>
			            <type>singleton</type>
			            <class>cartproducts/observer</class>
			            <method>hookIntoCatalogProductNewAction</method>
			        </cartproducts_observer_catalog_product_new_action>
			    </observers>
			</catalog_product_new_action>
			<catalog_product_edit_action>
			    <observers>
			        <cartproducts_observer_catalog_product_edit_action>
			            <type>singleton</type>
			            <class>cartproducts/observer</class>
			            <method>hookIntoCatalogProductEditAction</method>
			        </cartproducts_observer_catalog_product_edit_action>
			    </observers>
			</catalog_product_edit_action>			
            <catalog_product_prepare_save>
                <observers>
                	<cartproducts_observer_catalog_product_prepare_save>
			            <type>singleton</type>
			            <class>cartproducts/observer</class>
			            <method>hookIntoCatalogProductPrepareSave</method>
			        </cartproducts_observer_catalog_product_prepare_save>
                </observers>
            </catalog_product_prepare_save>
            <catalog_product_delete_before>
                <observers>
                	<cartproducts_observer_catalog_product_delete_before>
			            <type>singleton</type>
			            <class>cartproducts/observer</class>
			            <method>hookIntoCatalogProductDeleteBefore</method>
			        </cartproducts_observer_catalog_product_delete_before>
                </observers>
            </catalog_product_delete_before>            
            <catalog_product_save_after>
                <observers>
                	<cartproducts_observer_catalog_product_save_after>
			            <type>singleton</type>
			            <class>cartproducts/observer</class>
			            <method>hookIntoCatalogProductSaveAfter</method>
			        </cartproducts_observer_catalog_product_save_after>
                </observers>
            </catalog_product_save_after>
            <catalog_product_status_update>
                <observers>
                	<cartproducts_observer_catalog_product_status_update>
			            <type>singleton</type>
			            <class>cartproducts/observer</class>
			            <method>hookIntoCatalogProductStatusUpdate</method>
			        </cartproducts_observer_catalog_product_status_update>
                </observers>
            </catalog_product_status_update>            
            
            
            
            
            <sales_order_item_save_after>
                <observers>
                	<cartproducts_observer_sales_order_item_save_after>
			            <type>singleton</type>
			            <class>cartproducts/observer</class>
			            <method>hookIntoSalesOrderItemSaveAfter</method>
			        </cartproducts_observer_sales_order_item_save_after>
                </observers>
            </sales_order_item_save_after>
            <sales_order_save_before>
                <observers>
                	<cartproducts_observer_sales_order_save_before>
			            <type>singleton</type>
			            <class>cartproducts/observer</class>
			            <method>hookIntoSalesOrderSaveBefore</method>
			        </cartproducts_observer_sales_order_save_before>
                </observers>
            </sales_order_save_before>            
            <catalogrule_before_apply>
                <observers>
                	<cartproducts_observer_catalogrule_before_apply>
			            <type>singleton</type>
			            <class>cartproducts/observer</class>
			            <method>hookIntoCatalogruleBeforeApply</method>
			        </cartproducts_observer_catalogrule_before_apply>
                </observers>
            </catalogrule_before_apply>
            <catalogrule_after_apply>
                <observers>
                	<cartproducts_observer_catalogrule_after_apply>
			            <type>singleton</type>
			            <class>cartproducts/observer</class>
			            <method>hookIntoCatalogruleAfterApply</method>
			        </cartproducts_observer_catalogrule_after_apply>
                </observers>
            </catalogrule_after_apply>
            <catalog_entity_attribute_save_after>
                <observers>
                	<cartproducts_observer_catalog_entity_attribute_save_after>
			            <type>singleton</type>
			            <class>cartproducts/observer</class>
			            <method>hookIntoCatalogEntityAttributeSaveAfter</method>
			        </cartproducts_observer_catalog_entity_attribute_save_after>
                </observers>
            </catalog_entity_attribute_save_after>
            <catalog_product_delete_after_done>
                <observers>
                	<cartproducts_observer_catalog_product_delete_after_done>
			            <type>singleton</type>
			            <class>cartproducts/observer</class>
			            <method>hookIntoCatalogProductDeleteAfterDone</method>
			        </cartproducts_observer_catalog_product_delete_after_done>
                </observers>
            </catalog_product_delete_after_done>

            <customer_login>
                <observers>
                	<cartproducts_observer_customer_login>
			            <type>singleton</type>
			            <class>cartproducts/observer</class>
			            <method>hookIntoCustomerLogin</method>
			        </cartproducts_observer_customer_login>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                	<cartproducts_observer_customer_logout>
			            <type>singleton</type>
			            <class>cartproducts/observer</class>
			            <method>hookIntoCustomerLogout</method>
			        </cartproducts_observer_customer_logout>
                </observers>
            </customer_logout>
            <sales_quote_save_after>
                <observers>
                	<cartproducts_observer_sales_quote_save_after>
			            <type>singleton</type>
			            <class>cartproducts/observer</class>
			            <method>hookIntoSalesQuoteSaveAfter</method>
			        </cartproducts_observer_sales_quote_save_after>
                </observers>
            </sales_quote_save_after>
            <catalog_product_collection_load_after>
                <observers>
                	<cartproducts_observer_catalog_product_collection_load_after>
			            <type>singleton</type>
			            <class>cartproducts/observer</class>
			            <method>hookIntoCatalogProductCollectionLoadAfter</method>
			        </cartproducts_observer_catalog_product_collection_load_after>
                </observers>
            </catalog_product_collection_load_after>
		</events>
-->
	</adminhtml>
	  
</config>
