<?xml version="1.0"?>
<config>
    <modules>
        <Cofamedia_Splash>
            <version>1.10</version>
        </Cofamedia_Splash>
    </modules>
    <frontend>
        <routers>
            <splash>
                <use>standard</use>
                <args>
                    <module>Cofamedia_Splash</module>
                    <frontName>splash</frontName>
                </args>
            </splash>
        </routers>
        <layout>
            <updates>
                <splash>
                    <file>splash.xml</file>
                </splash>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<splash>
				<use>admin</use>
				<args>
					<module>Cofamedia_Splash</module>
					<frontName>splash</frontName>
				</args>
			</splash>
			<adminhtml>
				<args>
					<modules>
					 	<Cofamedia_Splash_Override before="Mage_Adminhtml">Cofamedia_Splash_Override_Admin</Cofamedia_Splash_Override>
					</modules>
				</args>
			</adminhtml>

			
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<cofamedia>
        <title>Cofa Media</title>
        <sort_order>70</sort_order>
				<children>
					<splash module="splash">
						<title>Splash</title>
						<sort_order>60</sort_order>
						<action>splash/adminhtml_splash/splash</action>
					</splash>
				</children>
			</cofamedia>
		</menu>
        <layout>
            <updates>
                <splash>
                    <file>splash.xml</file>
                </splash>
            </updates>
        </layout>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Cofamedia_Splash>
							<title>Cofamedia Splash Module</title>
							<sort_order>10</sort_order>
						</Cofamedia_Splash>
						<system>
							<children>
								<config>
									<children>
										<configuration>
											<title>Configuration</title>
										</configuration>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>

    </adminhtml>   
    <global>
        <models>
            <splash>
                <class>Cofamedia_Splash_Model</class>
                <resourceModel>splash_mysql4</resourceModel>
            </splash>
            <splash_mysql4>
                <class>Cofamedia_Splash_Model_Mysql4</class>
                <entities>
                    <splash>
                        <table>splash</table>
                    </splash>
                    <splash_store>
                        <table>splash_store</table>
                    </splash_store>					
                </entities>
            </splash_mysql4>
        </models>
        <resources>
            <splash_setup>
                <setup>
                    <module>Cofamedia_Splash</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </splash_setup>
            <splash_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </splash_write>
            <splash_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </splash_read>
        </resources>
        <blocks>
            <splash>
                <class>Cofamedia_Splash_Block</class>
            </splash>
        </blocks>
        <helpers>
            <splash>
                <class>Cofamedia_Splash_Helper</class>
            </splash>
        </helpers>
    </global>
</config>
