body, ul, li {
	/*font-size:14px; */
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	text-align:left;
}

#menu {
	/*list-style:none;
	width:960px;
	margin:10px auto 0px auto;
	height:43px;
	padding:0px 20px 0px 20px;*/
	
	font-size: 13px;
    height: 43px;
    margin: 10px 0;
    padding: 0;
   
	/* Rounded Corners */
	/*
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;*/

	/* Background color and gradients */
	background: url("/skin/frontend/default/cofamedia/images/ui/navigation-background.png") repeat-x scroll left bottom transparent;
	/*background: #014464;
	background: -moz-linear-gradient(top, #0272a7, #013953);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));*/
	
	/* Borders */
	
	/*border: 1px solid #002232;*/

	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
}

#menu li .navigation-name {
    padding-right: 6px;
    white-space: nowrap;
}
#menu ul li { float:none; }
#menu div ul li a { padding:0; height:23px; line-height:23px; border-bottom:1px dotted #c6c2c3; padding-bottom:3px; width:165px; display:block; }
#menu ul li.last { border-bottom:0; }
#menu ul li a { float:none; padding:3px 9px; font-weight:normal; color:#888 !important; }
#menu ul li a:hover { color:#000 !important; }
#menu ul li.active > a,
#menu ul li.over > a { color:#000 !important; }

#menu li {
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 4px 9px 4px 11px;
	/*margin-right:3px;*/
	/*margin-top:7px;*/
	height:35px;
	border:none;
	white-space:nowrap;
	background: url("/skin/frontend/default/cofamedia/images/ui/navigation-separator.png") no-repeat scroll left top transparent;
}
#menu li ul li {
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 4px 8px 4px 8px;
	line-height:24px;
	height: 24px;
	border:none;
	background:none;
	
}
#menu li.level-top.last > a > span { 
/*background:url('/skin/frontend/default/cofamedia/images/ui/navigation-button.png') no-repeat right bottom;*/ display:block; height:21px; /*padding:0 30px 0 0;*/ }
#menu li:hover .level-top a { 
background:url('/skin/frontend/default/cofamedia/images/ui/navigation-button.png') no-repeat right top; }


#menu li:hover {
	/*border: 1px solid #777777;*/
	/*padding: 4px 9px 9px 9px;*/
	height:35px;
	
	/* Background color and gradients */
	background: #908A8C; /*
	background: #F4F4F4; 
	
	background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));*/
	
	/* Rounded corners */
	/*
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;*/
}

#menu li a {
	/*font-family:Arial, Helvetica, sans-serif;
	font-size:13px; 
	color: #EEEEEE;
	display:block;
	outline:0;
	text-decoration:none;
	text-shadow: 1px 1px 1px #000;
	font-weight:bold;*/
	text-decoration:none;
	color: #FFFFFF;
    float: left;
    font-size: 12px;
    font-weight: bold;
	margin-top:7px;
	
}

#menu li:hover a {
	/*color:#161616;
	text-shadow: 1px 1px 1px #ffffff;*/
}
#menu li .drop {


	
	/*background:url("/skin/frontend/default/cofamedia/images/header.png")  repeat scroll -349px -8px transparent;*/
	/*background: url("skin/frontend/default/cofamedia/images/header.png") repeat scroll -349px -8px transparent;*/
}
#menu li:hover .drop {
	/*background:url("/skin/frontend/default/cofamedia/images/header.png")  repeat scroll -349px -8px transparent;*/
}
#menu li .arrow{background: url('/skin/frontend/default/cofamedia/images/header.png') -349px -8px; height: 6px; width: 9px; display: block; float:right;  margin-top:5px; white-space:nowrap; margin-left:5px; 

}
.ie10 #menu li .arrow{background: url('/skin/frontend/default/cofamedia/images/header.png') -349px -8px; height: 6px; width: 9px; display: block; float:right;  margin-top:7px !important; white-space:nowrap; margin-left:5px; }


#menu li:hover .arrow{background-position: -349px -0px;}
/*#menu li.first-home { background: url('/skin/frontend/default/cofamedia/images/ui/navigation-background.png') repeat-x bottom left; }*/
#menu li.level-top.over,
#menu li.first-home.over { background: url('/skin/frontend/default/cofamedia/images/ui/navigation-background.png') repeat-x top left; }
#menu li.level-top.over .arrow{background-position: -349px -0px; height: 6px; width: 9px;display: block;padding-top: 0; margin: 17px 4px 0 0; float:right}

#menu li:hover .level-top.last { background:url('/skin/frontend/default/cofamedia/images/ui/navigation-button.png') no-repeat right top; }

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns,
.dropdown_5columns_nav-1,
.dropdown_5columns_nav-2,
.dropdown_5columns_nav-3,
.dropdown_5columns_nav-4,
.dropdown_5columns_nav-5,
.dropdown_5columns_nav-6,
.dropdown_5columns_nav-7,
.dropdown_5columns_nav-8,
.dropdown_5columns_nav-9,
.dropdown_5columns_nav-10

 {
	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	/*padding:10px 5px 10px 5px;*/
	/*border:1px solid #777777;*/
	/*border-top:8px solid #908A8C;
	border-bottom:8px solid #908A8C;*/
	
	/* Gradient background */
	/*
	background:#FFFFFF;
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));*/
	/*background: url(/skin/frontend/default/cofamedia/images/mid_children_navigation.jpg) repeat-y white;*/ 
	background: white;
	/* Rounded Corners */
	/*-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
	z-index:999;*/
	
	margin-top:38px; 
	margin-left:0px;
	z-index:999;
	/* Leva strana */
	box-shadow: -10px 0px 13px gray; 
	/* Desna strana */
	box-shadow: 10px 0px 13px gray; 
	/* Bottom */
	box-shadow: 0px 5px 8px gray; 
	behavior: url(/skin/frontend/default/cofamedia/css/megamenu/PIE.php);
	
}

#menu div .top{/*background: url(/skin/frontend/default/cofamedia/images/header.png) no-repeat 0  -183px;*/ width:250px; height: 24px; display:block; /* margin-left:-5px;  margin-top:-10px;*/}

#menu div .bottom{/*background: url(/skin/frontend/default/cofamedia/images/header.png) no-repeat 0  -210px;*/ width:250px; height: 32px; display:block; /*margin-left:-5px; margin-bottom:25px;*/  }

#menu div ul { position:static; margin: 0; width:250px; min-height:250px; /*background:transparent url(/skin/frontend/default/cofamedia/images/background/dropdown-shadow.jpg) no-repeat 100% 0; padding:0 60px 0 80px;*/   }
.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns,
.dropdown_5columns_nav-1,
.dropdown_5columns_nav-2,
.dropdown_5columns_nav-3,
.dropdown_5columns_nav-4,
.dropdown_5columns_nav-5,
.dropdown_5columns_nav-6,
.dropdown_5columns_nav-7,
.dropdown_5columns_nav-8,
.dropdown_5columns_nav-9,
.dropdown_5columns_nav-10
 {width: 250px;

 }

#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover  .dropdown_5columns{
	/*left:-1px;
	top:auto;*/
	position:absolute;left: -9px;
}

#menu li:hover .dropdown_5columns_nav-1{
	/*left:-1px;
	top:auto;*/
	position:absolute;
	left: 0px;
}
#menu li:hover .dropdown_5columns_nav-2{
	/*left:-1px;
	top:auto;*/
	position:absolute;left: 0px;
}
#menu li:hover .dropdown_5columns_nav-3{
	/*left:-1px;
	top:auto;*/
	position:absolute;left: 0px;
}
#menu li:hover .dropdown_5columns_nav-4{
	/*left:-1px;
	top:auto;*/
	position:absolute;left: 0px;
}
#menu li:hover .dropdown_5columns_nav-5{
	/*left:-1px;
	top:auto;*/
	position:absolute;left: 0px;
}
#menu li:hover .dropdown_5columns_nav-6{
	/*left:-1px;
	top:auto;*/
	position:absolute;
	left: 0px;
}
#menu li:hover .dropdown_5columns_nav-7{
	/*left:-1px;
	top:auto;*/
	position:absolute;left: 0px;
}
#menu li:hover .dropdown_5columns_nav-8{
	/*left:-1px;
	top:auto;*/
	position:absolute;left: 0px;
}
#menu li:hover .dropdown_5columns_nav-9{
	/*left:-1px;
	top:auto;*/
	position:absolute;left: 0px;
}
#menu li:hover .dropdown_5columns_nav-10{
	/*left:-1px;
	top:auto;*/
1	position:absolute; left: -113px;
}


.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}

#menu .menu_right {
	float:right;
	margin-right:0px;
}
#menu li .align_right {
	/* Rounded Corners */
/*	-moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;*/
}

#menu li:hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}

#menu p, #menu h2, #menu h3, #menu ul li {
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	font-size:12px;
	text-align:left;
	text-shadow: 1px 1px 1px #FFFFFF;
}
#menu h2 {
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:1px solid #666666;
}
#menu h3 {
	font-size:14px;
	margin:7px 0 14px 0;
	padding-bottom:7px;
	border-bottom:1px solid #888888;
}
#menu p {
	line-height:18px;
	margin:0 0 10px 0;
}

#menu li:hover div a {
	font-size:12px;
	color:#015b86;
}
#menu li:hover div a:hover {
	color:#029feb;
}


.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}

#menu li .black_box {
	background-color:#333333;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

#menu li ul {
	list-style:none;
	padding:0;
	padding-left:40px;
	margin:0 0 12px 0;
}
#menu div .category-title { font:normal 18px Georgia, Times, serif; color:#0b3889; margin-left:29px; display:block; }
#menu li ul li {
	font-size:12px;
	line-height:24px;
	height: 24px;
	position:relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	width:130px;
}
#menu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
	line-height:24px;
	height: 24px;
}

#menu li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}
