<?xml version="1.0"?>
<config>
    <modules>
        <Cofamedia_Onsale>
            <version>1.10</version>
        </Cofamedia_Onsale>
    </modules>
    <frontend>
        <routers>
            <onsale>
                <use>standard</use>
                <args>
                    <module>Cofamedia_Onsale</module>
                    <frontName>onsale</frontName>
                </args>
            </onsale>
        </routers>
        <layout>
            <updates>
                <onsale>
                    <file>onsale.xml</file>
                </onsale>
            </updates>
        </layout>
    </frontend>
    <admin>
			<routers>
				<onsale>
					<use>admin</use>
					<args>
						<module>Cofamedia_Onsale</module>
						<frontName>onsale</frontName>
					</args>
				</onsale>
			</routers>
    </admin>
    <adminhtml>

		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<onsale>
											<title>Products On Sale</title>
										</onsale>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>

    </adminhtml>   
    <global>
<!--        <models>
            <onsale>
                <class>Cofamedia_Onsale_Model</class>
                <resourceModel>onsale_mysql4</resourceModel>
            </onsale>
        </models>-->
        <resources>
            <onsale_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </onsale_write>
            <onsale_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </onsale_read>
        </resources>
        <blocks>
            <onsale>
                <class>Cofamedia_Onsale_Block</class>
            </onsale>
        </blocks>
       <helpers>
           <onsale>
                <class>Cofamedia_Onsale_Helper</class>
            </onsale>
        </helpers>
    </global>
</config>
