<?xml version="1.0"?>
<config>
    <tabs>
        <cofa translate="label" module="onsale">
            <label>Cofa Media</label>
            <sort_order>100</sort_order>
        </cofa>
    </tabs>
    <sections>
        <onsale>
            <label>Products On Sale</label>
            <tab>cofa</tab>
            <frontend_type>text</frontend_type>
            <sort_order>140</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <configuration translate="label">
                    <label>Configuration</label>
                    <frontend_type>text</frontend_type>
	                  <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <limit translate="label">
                            <label>Max. Number of Products to Show</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </limit>
                        <per_page translate="label">
                            <label>Number of Produsts per Page</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </per_page>
                        <animation_speed translate="label">
                            <label>Animation Speed</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>in milliseconds</comment>
                        </animation_speed>
                    </fields>
                </configuration>
            </groups>
        </onsale>
    </sections>
</config>
